.join-cont{
    padding-top: var(--spacing-spacing-7);
    padding-bottom: var(--spacing-spacing-7);
    margin-bottom: calc(var(--spacing-spacing-7) * -1);

    &__title{
        margin-top: var(--spacing-spacing-3);
        @include sign-2;
    }
    
    &__bot{
        @include short-cols-container;
        margin-top: var(--spacing-spacing-7);
        margin-left: var(--inner-gutter);
        width: calc(((12 / var(--container-grid-columns, var(--grid-columns))) * (100% - var(--inner-gutter))) - (var(--inner-gutter) - (12 / var(--container-grid-columns, var(--grid-columns)) * var(--inner-gutter))));
    
    }
    &__cont-button{
        @include short-cols-container;
        margin-top: var(--spacing-spacing-7);
        margin-left: var(--inner-gutter);
        width: calc(((12 / var(--container-grid-columns, var(--grid-columns))) * (100% - var(--inner-gutter))) - (var(--inner-gutter) - (12 / var(--container-grid-columns, var(--grid-columns)) * var(--inner-gutter))));
    }
    &__button{
        @include soeh-medium;

        text-decoration: inherit;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .4375rem;
        padding-bottom: .5625rem;

        @media (min-width: 0px){
          min-height: 5.5rem;
          --container-grid-columns: 12;
        }
        //outline: 2px solid transparent;
        //outline-offset: 2px;

        background-color: rgb(0, 0, 0);
        border-width: 1px;
        border-color: white;
        border-style: solid;
        
    }
}
