.latest-update{
	
	@include short-big-conts();
	
	&__top{
		padding-top: var(--spacing-spacing-3);
		width: 100%;
	}

	&__two-cols{
		@include short-2-cols;
		display: flex;
		flex-direction: row;
		justify-content: end;
		@media (max-width: 744px){
			flex-direction: column;
			justify-content: none;
		}
	}

	&__title{
		@include sign-3;
	}

	&__vievall{
		@media (min-width: 0px){
			margin-top: 0.75rem;
			//--container-grid-columns: 6;
		}

		@media (min-width: 744px){
			margin-left: auto;
			margin-top: 0rem;
			//--container-grid-columns: 4;
		}

		@media (min-width: 1280px){
			margin-top: 0.25rem;
			//--container-grid-columns: 6;
		}
	}

	
	//&__info{}
	
	
	&__cell{
		display: flex;
		flex-direction: column;
		margin-left: 24px;
		margin-top: 60px;
	}

	&__image{
		width: 100%;
	}

	&__name{
		font-size: 18px;
		font-family: 'soehne-halbfett';
		margin-top: 8px;
	}

	&__data{
		font-size: 18px;
		font-family: 'soehne-buch';
		margin-top: 8px;
	}
}